/* HTML5 . Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }






header {
  min-width: 1044px;
  background-color: #4B63A1;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #84A2AA;
  height: 100px;
}

#login {
  float: right;
  background-color: #5096BA;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 25px;
  margin-left: 10px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
  margin-top: 30px;
  padding: 10px;
}

#logo a {
  display: block;
  width: 177px;
  height: 56px;
a { 
    text-decoration: none; 
    outline: none; 
    font-weight: bold;
}

a:hover { 
    color: rgba(30, 40, 30, .65);
}


/* POSTS TABLE */

.posts-table {
    background: url(../images/mask-black-25.png) repeat-x;
}

.posts-table td {
    padding: 1em 16px 1em 0;
    font-size: 0.75em;
    vertical-align: bottom;
    width: 148px;
    background: url(../images/mask-black-25.png) 0 100% repeat-x;
}

.posts-table td.date p,
.posts-table td.summary p {
    color: rgb(109, 116, 109);
}

.posts-table td.summary {
    width: 312px;
}

.posts-table td.date {
    width: 164px;
}

.posts-table td.title {
    width: 328px;
    padding-right: 0;
}

.posts-table td.title a {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -0.05em;
    padding-right: 16px;
    display: block;
}

/* FOOTER */

footer {
	clear: both;
	padding-top: 1em;
	padding-bottom: 6em;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

footer div {
    font-size: 0.75em;
}

footer .logo {
    float: left;
    width: 180px;
}

footer .logo:hover {
    opacity: .65;
}

footer ul {
	list-style: none;
}

footer ul li {
	display: inline;
	padding-left: 1em;
  font-size: 1.125em;
}

footer a { 
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, .65);
    *color: rgb(255, 255, 255);
}

footer a:hover{
    color: rgb(255, 255, 255);
}


/* Login Screen */

.box {
    background: #F2F6F9;
		border: 1px solid #C9D5DF;
    padding: 20px;
    -webkit-box-shadow: 0 1px 5px rgba(78,123, 163, .22);
    -moz-box-shadow: 0 1px 5px rgba(78,123, 163, .22);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
		margin: 20px;
		width: 700px;
		height: 200px;
}

.box label, .box h2 {
	color: #CBD3E2;
}

.box h2 {
	margin-left:30px;
}
.box ol {
	list-style:none;
}

.box ol li {
    padding-top: 18px;
    line-height: 32px;
		height:35px;
}

.box li span {
    width: 502px;
    float: left;
    padding-bottom: 18px;
}
.box .text {
    padding: 7px 6px;
    font-size: 18px;
    border: 1px solid #c6c6c6;
		-webkit-box-shadow: 0 1px 5px rgba(78,123, 163, .22);
    -moz-box-shadow: 0 1px 5px rgba(78,123, 163, .22);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, Calibri, sans-serif;
    width: 320px;
}

.box label {
    font-size: 16px;
    font-weight: bold;
    width: 166px;
    float: left;
    display: block;
    line-height: 32px;
}
.box .text:focus {
    border: 1px solid #3080C8;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3), 0 0 5px #36A0FF;
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.3), 0 0 5px #36A0FF;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3), 0 0 5px #36A0FF;
    background: #fff;
}

* html .box .text {
    width: 312px;
}

/* POST HEADER */

#post #post-header {
    float: left;
    width: 820px;
}

#post #post-header .date {
    float: left;
    margin-top: 6.45em;
    font-size: 0.75em;
    color: rgb(109, 116, 109);
}

/* POST TEXT */

#post #post-text {
    float: left;
    clear: left;
    width: 476px;
    padding: 0 180px;
}

#post #post-text p {
    font-family: Palatino, Georgia, 'Times New Roman', serif;
    font-size: 1.125;
    line-height: 1.5em;
    text-indent: 1em;
}

#post #post-text p:first-child,
#post #post-text .summary+p,
#post #post-text h3+p,
#post #post-text p.first {
    text-indent: 0;
}

#post #post-text h3+p,
#post #post-text p.first {
    margin-top: 1em;
}

#post #post-text a,
#post #post-text strong,
#post #post-text h3 {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

.video { border: 1px solid black; margin-bottom: 10px; padding: 20px 20px; float: left;}
.video object { float: left; }
.video .description { float: left; margin-left: 20px; display: inline-block; width: 200px; } 
#pager { background-color: #666; line-height: 3em; text-align: center; margin-bottom: 10px; }
#pager a { color: #fff; font-size: 1.8em; margin: 0 15px; }

