/* User Definied */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.125em;
  color: rgb(30, 40, 30);
	background-color: #4B7FD9;
  min-width: 1064px;
}

#logo a {
  display: block;
  width: 177px;
  height: 56px;
  color: #84A2AA;
  font-size: 2em;
  text-decoration: none;
  margin: 20px 0 15px 25px;
  float: left;
}

#main { 
    background-color: rgb(255, 255, 255);
    color: rgb(53, 62, 52);
		padding-bottom: 1em;
}

#main_content {
  margin-bottom: 3px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

#main_content a {
  color: #0085BD;
}

#main_content a:hover {
  color: rgb(90, 176, 212);
}

#main_content h1 {
  font-size: 3em;
  margin: 1em 0 0.5em 180px;
  line-height: 1em;
  letter-spacing: -0.05em;
  color: #353E34;
}

/* HEADER */

header {
    position: relative;
    margin-bottom: 1em;
    height: 3em;
    margin-top: 4em;
    -webkit-text-size-adjust: none;
		width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

header .logo {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 0.25em;
}

header .logo:hover {
    opacity: .65;
}

header nav {
    position: absolute;
    left: 164px;
    bottom: 0;
}

header nav li { 
    display: inline;
}

header nav a { 
    float: left;
    width: 148px;
    padding-top: 2em;
    padding-left: 16px;
    padding-bottom: 0.25em;
    font-size: 1.125em;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, .65);
    *color: rgb(255, 255, 255);
}

header nav a:hover{
    color: rgb(255, 255, 255);
}

/* LINKS */

a { 
    text-decoration: none; 
    outline: none; 
    font-weight: bold;
}

a:hover { 
    color: rgba(30, 40, 30, .65);
}


/* POSTS TABLE */

.posts-table {
    background: url(../images/mask-black-25.png) repeat-x;
}

.posts-table td {
    padding: 1em 16px 1em 0;
    font-size: 0.75em;
    vertical-align: bottom;
    width: 148px;
    background: url(../images/mask-black-25.png) 0 100% repeat-x;
}

.posts-table td.date p,
.posts-table td.summary p {
    color: rgb(109, 116, 109);
}

.posts-table td.summary {
    width: 312px;
}

.posts-table td.date {
    width: 164px;
}

.posts-table td.title {
    width: 328px;
    padding-right: 0;
}

.posts-table td.title a {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -0.05em;
    padding-right: 16px;
    display: block;
}

/* FOOTER */

footer {
	clear: both;
	padding-top: 1em;
	padding-bottom: 6em;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

footer div {
    font-size: 0.75em;
}

footer .logo {
    float: left;
    width: 180px;
}

footer .logo:hover {
    opacity: .65;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	display: inline;
	padding-left: 1em;
  font-size: 1.125em;
}

footer a { 
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, .65);
    *color: rgb(255, 255, 255);
}

footer a:hover{
    color: rgb(255, 255, 255);
}
































.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


