#post_list
  %table
    %thead
      %tr
        %th 
        %th Name
        %th Content
        %th Created
        %th Modified
    %tbody
      -@posts.each do |post|
        %tr
          %td
            %span=link_to 'Edit', edit_admin_post_path(post) | 
            %span=link_to 'Delete', [:admin, post], :confirm => 'Are you sure?', :method => :delete
          %td=post.title
          %td=truncate(post.body, :length => 40)
          %td=post.created_at.strftime('%b %d, %Y')
          %td=post.updated_at.strftime('%b %d, %Y')

%div=link_to "Create", new_admin_post_path 
