=content_for :title, "Post: #{@post.title}"

#post
  #post-header
    %p.date
      =@post.created_at.strftime("%B %d, %Y")
    %h1=@post.title
  #post-text
    %p
      =raw(@post.body)

#disqus_thread
:javascript
  var disqus_shortname = 'kylerogersdevelopmentblog'; 
  var disqus_identifier = 'post_id_#{@post.id}'
  var disqus_url = '#{root_url}posts/#{@post.id}';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
	
