=content_for :title, "Photos"
=javascript_include_tag 'jquery.lightbox-0.5.min'
=javascript_include_tag 'flickr'

#photos_flickr
  -@list.each do |photo|
    %span 
      %a{:href => FlickRaw.url(photo), :title => photo.title}
        %img{:src => FlickRaw.url_s(photo)}
