=content_for :title, "Rogers Youtube"
=javascript_include_tag 'youtube.js'

%h1 The Rogers Youtube Feed

#pager

#player

:javascript
   var tag = document.createElement('script');
   tag.src = "http://www.youtube.com/player_api";
   var firstScriptTag = document.getElementsByTagName('script')[0];
   firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

   function onYouTubePlayerAPIReady() {
    youTubeMe.init();
   }


