!!! 5
%html
  %head
    %title 
      =yield(:title)
    = render :partial => 'layouts/scripts'
    =include_tiny_mce_if_needed
  %body
    - unless notice.blank?
      .success
        = notice
    - unless alert.blank?
      .alert
        = alert

    #main_content
      = yield 

