!!! 5
%html
  %head
    %title 
      =yield(:title) 
    = render :partial => 'layouts/scripts'
  %body
    %header
      %h5#logo
        =link_to "Logo", root_url
      %nav
        %ul
          %li
            =link_to "Blog", root_url
          %li
            =link_to "Work", root_url
          %li 
            =link_to "About", root_url
          %li
            =link_to "Contact", root_url
      
    #main
      #main_content
        =yield
      
    %footer
      =link_to "Logo", root_url, :class => "logo"
      %div
        %span.quiet 
          © 2011 Kyle Rogers.  Powered by Ruby on Rails
        

